/*Mixins: grid template columns*/

/* getest: werkt niet
@mixin grid-template-columns($value, $value1, $value2){
 -webkit-grid-template-columns: $value, $value1, $value2;
    -moz-grid-template-columns: $value, $value1, $value2;
     -ms-grid-template-columns: $value, $value1, $value2;
      -o-grid-template-columns: $value, $value1, $value2;
         grid-template-columns: $value, $value1, $value2;
}
*/
@mixin grid-templat-columns($value){
        -webkit-#{$gridtcol}: $value;
           -moz-#{$gridtcol}: $value;
            -ms-#{$gridtcol}: $value;
             -o-#{$gridtcol}: $value;
                #{$gridtcol}: $value;
}