*
 margin: $waarde0

nav
 ///#{$background-color}: $hoofdkleur
 background-color: green
 
 ul
  #{$display}: grid
  list-style-type: $none
  ///background-color: $blauw
  grid-template-columns: 1fr
  ///grid-template-columns: repeat(3, autofil)

  a
   text-decoration: $none
   #{$color}: $oranje
   ///1em /2 =8px verticaal down-Top -- horizontaal 16px*2 =32px Right-Left
 
   ///border 1px    solid rgb(0,0,0) black
   border: #{$c1px} solid $waarde000 
   #{$display}: inline-block

   ///&:hover
   #{$nhover}
    #{$background}: gold
   &:visited
     #{$background}: $groen

   ///nth-child(1)  
   #{$nthchild}#{$waarde1})
    #{$background-color}: red

   ///nth-child(2)
   #{$nthchild}#{$waarde2})
    #{$background-color}: #fff

    ///nth-child(3)
   #{$nthchild}#{$waarde3})
    #{$background-color}: $blauw
    
    ///nth-child(1n) all
   #{$nthchild}#{$waarde1}n):#{$hover}
    #{$background-color}: rgb(255,154,$waarde0)
    #{color}: $waarde000
   
   text-align: center

p
 color: $groen

